* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
    list-style-type: none;
    scroll-behavior: smooth;
    transition: all 0.4s ease;
    font-family: sans-serif;
    outline: none;
    background-color: red;
}
*,*::after, *::before {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 20px;
}

img {
  width: 100%;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
color: rgb(52, 43, 61);
}